* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
#container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,minmax(150px, auto));
    gap: 10px;
    margin:0 auto;
    width: 75%;
    color: white;
}
#container div{
    padding: 30px;
}
.one{
    background-image: url(/img/1.jpg);
    background-size: cover contain;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.two{
    background-image: url(/img/2.jpg);
    background-size: cover contain;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.three{
    background-image: url(/img/3.jpg);
    background-size: cover contain;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.four{
    background-image: url(/img/4.jpg);
    background-size: cover contain;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.five{
    background-image: url(/img/5.jpg);
    background-size: cover contain;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}
.six{
    background-image: url(/img/6.jpg);
    background-size: cover contain;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.seven{
    background-image: url(/img/7.jpg);
    background-size: cover contain;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.eight{
    background-image: url(/img/8.jpg);
    background-size: cover contain;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.nine{
    background-image: url(/img/9.jpg);
    background-size: cover contain;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.ten{
    background-image: url(/img/10.jpg);
    background-size: cover contain;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
.eleven{
    background-image: url(/img/11.jpg);
    background-size: cover contain;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}
.twelve{
    background-image: url(/img/12.jpg);
    background-size: cover contain;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}